form {
    margin: 20px 0;
    width: 100%;
    
    div {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        transition: all 0.2s ease-in-out;
    }

    label {
        color: var(--color-text-primary);
        font-weight: 600;
        width: auto;
        text-align: left;
        font-size: 12px;
    }
    span {
        text-align: left;
        font-size: 12px;
        margin-top: 2px;
        display: none;
    }

    .red-style{
        display: block;
        color: var(--color-danger);
    }
}