<app-card-wrapper>
    <section>
        <div>
            <h3
            [class.strike-through]="isCompleted()"
            >
                {{title()}}
            </h3>
            <p class="description"
            [class.strike-through]="isCompleted()"
            >
                {{description()}}
            </p>
            <div class="time">
                <app-icon iconName="time" />
                <p>{{timestamp() | timeAgo}}</p>
            </div>
        </div>
        <!-- <app-icon iconName="delete" 
        [isClickable]="true"></app-icon> -->
        <input 
        type="checkbox"
        (change)="onCheck($event)"
        >
    </section>
</app-card-wrapper>