<app-card-wrapper>
    <section (click)="closeTab($event)">
        <span 
        class="menutab" 
        [class.toggle] = "isMenuDisplayed()"
        ><ul>
            <li (click) = "deleteTask($event)">Delete</li>
            <hr>
            <li (click)="editTask($event)">Edit</li>
        </ul></span>
        <div>
            <h3 [class.strike-through]="isCompleted()">
                {{title()}}
            </h3>
            <p class="description" [class.strike-through]="isCompleted()">
                {{description()}}
            </p>
            <div class="time">
                <app-icon iconName="time" />
                <p>{{timestamp() | timeAgo}}</p>
            </div>
        </div>
        <!-- <app-icon iconName="delete" 
        [isClickable]="true"></app-icon> -->
        <div class="checkbox-div">
            <input type="checkbox" [checked]="isCompleted()" (change)="onCheck($event)">
        </div>
        <div class="tab" (click)="onClick($event)">...</div>
    </section>
</app-card-wrapper>