img {
    height: 14px;
    width: 14px;
}

.clickable-style {
    padding: 5px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: var(--color-text-primary);
    margin-top: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: var(--color-btn);
    }

}